<h1>Home Page</h1>

<div class="jumbotron text-center">
    <h1>Welcome to Sam's Record Store!</h1>
    <br>
    <p>sign up for our mailing list to stay up to date!</p>

    <div class="form-horizontal form-group form-group-lg row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-1 col-md-5 col-md-offset-2">
      {{input type="email" value=email class="form-control" placeholder="Please type your e-mail address." autofocus="autofocus"}}
    </div>
    <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-4 col-md-3">
        <button disabled={{isDisabled}} {{action 'saveEmail'}} class="btn btn-primary btn-lg btn-block">Sign Up!</button>
    </div>

    {{#if responseMessage}}
        <div class="alter alter-success">{{responseMessage}}</div>
    {{/if}}
  </div>
  <br>
</div>