<h1>Records</h1>

<div class="well">
    <ul class="nav nav-pills">
        <LinkTo @route='records.index' @tagName="li"><a href="">Show All</a></LinkTo>
        <LinkTo @route='records.new' @tagName="li"><a href="">Add Record</a></LinkTo>
    </ul>
</div>

{{outlet}}